.projects-container {
    /* scroll-snap-align: start; */
    letter-spacing: 4px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}
.project-heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
    color: white;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.card-card {
    width: 20rem;
    min-width:20rem;
    max-width: 20rem;
    margin: 5rem;
    /* background-color: white; */
    /* border-radius: 7px; */
    box-shadow: 5px 5px 100px rgb(118, 243, 118);
}
.card-img {
    width: 100%;
    /* margin: 10px auto; */
    /* border-radius: 4px; */
    /* border: 1px solid darkgray; */
}
.card-body {
    /* border: 1px solid darkgray; */
    background-color: white;
    /* margin: 10px; */
    /* border-radius: 4px;  */
}
.card-text{
    text-align: left; 
    text-justify: inter-word;
    line-height: 24px;
    border-bottom: darkgray;
}
.link {
    letter-spacing: normal;
}