.projects-container {
    scroll-snap-align: center;
    letter-spacing: 4px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, black, #29683F, #09E05D, #A7F523);

}
.project-heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}
.project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.p-card {
    margin: 10px auto;
    width: 25%;
}