.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.typed h1{

    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10px;
}
.home-p {
    margin-top: 5px;
    font-size: small;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
    margin-left: 15%;
    line-height: 17px;
}
.home-brand {
    text-align: justify; text-justify: inter-word;
    line-height: 24px;
    width: 50%;
    align-self: center;
    margin-left: 10%;
    margin-top: 10%;
}