.contacts-container {
    scroll-snap-align: start;
    letter-spacing: 4px;
    position: relative;
    background-color:  black;
    color: white;
    /* height: 70vh; */
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}
.contact-heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}
.contact-icon {
    margin-right: 5px;
}
.contact-text {
    color: white;
    margin: 0 auto;
}
.foot {
    position: absolute;
    bottom: 0;
    right: 5%;
}
.ak {
    letter-spacing: 6px;;
}
@media only screen and (max-width: 600px) {
    .foot {
      position: relative;
    }
  }
